* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  height: 100%;
}

.grid-item {
  background-color: rgb(7, 132, 173);
}

.mouse-over {
  background-color: rgba(191, 191, 236, 0.473);
}
