* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item {
  background-color: rgb(7, 132, 173);
  border: 2px solid red;
}

.mouse-over {
  background-color: rgba(191, 191, 236, 0.473);
}
